/*normalize*/ 
*{/*отступи и граници*/
    padding: 0;
    margin: 0;
    border: 0;
}

*,*::before, ::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline:none;}/*убирает линии обвовки*/
a:focus,a:active{outline: none;}

nav,footer,main,header,aside {display: block;}
a {
    text-decoration: none;
    color:#fff;
    font-family: 'Montserrat';
    font-weight: bold;
}

html,body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}

/*burger-menu*/
::before, :after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    
}

.container {
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 10px;
}

.header {
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    z-index: 50; 
}

.header:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 2;
}

.header-body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header-logo {
    overflow: hidden;
    position: relative;
    z-index: 3;
    font-weight:bold;
    font-family: 'Montserrat';
    font-size: 30px;

}

.header-logo img {
    max-width: 100%;
    display: block;
}

.header-list {
    display: flex;
    position: relative;
    z-index: 2;
}

.header-list li {
    list-style-type: none;
    margin: 0 0 0 20px;
}

.header-list li a:hover {
    color:#fce38a;
    border-bottom: 2px solid #fce38a;
}

.header-link {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}

.header-burger {
    display: none;
}

@media (max-width:767px) {
    body.lock {
        overflow:hidden;
    }
    .header-body {
        height: 50px;
    }
    .header-logo {
        flex:0 0 100px;
    }
    .header-burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position:relative;
        z-index: 3;
    }
    .header-burger span {
        position: absolute;
        background-color:#fff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header-burger::before,
    .header-burger::after {
        content:'';
        background-color:#fff;
        position:absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header-burger::before {
        top: 0;
    }
    .header-burger::after {
        bottom: 0;
    }
    .header-burger.active span {
        transform: scale(0);
    }
    .header-burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header-burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header-menu {
        position: fixed;
        top:-106%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background: #e98283;
        padding: 70px 10px 20px 10px;
        transition: all 0.3s ease 0s;
    }
    .header-menu.active {
        top: 0;
    }
    .header-list {
        display: block;
    }
    .header-list li {
        margin: 0 0 20px 0;
        text-align: center;
        
    }
    .header-link {
        font-size: 24px;
    }
}

/*slider*/

.slider {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: #000;
}

.slider .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transition-delay: 0s;
    z-index: 1;
    clip-path: circle(0px at center);
}

.slider input[type="radio"]:checked + .imgBx {
z-index: 10;
   clip-path:circle(2000px at center); 
   transition-delay: 0.75s;
}

.slider .imgBx img {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .imgBx .content {
    position: relative;
    text-align: center;
    max-width: 800px;
}

.slider .imgBx .content h1 {
    font-size:72px;
    line-height: 1em;
    font-family: 'Kaushan Script';
    font-weight: 100;
    color:#fff;
}

.slider .imgBx .content h2 {
    font-size: 150px;
    color: #fff;
    text-transform: uppercase;
}

.slider .imgBx .content a {
    position: relative;
    display: inline-block;
    border:3px solid #fff;
    padding: 12px 30px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-top: 125px;
    text-decoration: none;
}

.slider input[type="radio"] {
    position: relative;
    z-index: 1000;
    margin: 5px;
    margin-bottom: 40px;
    outline: none;
    cursor: pointer;
}

@media (max-width:767px) {
    .slider .imgBx .content h2 {
        font-size: 50px;
        padding: 20px 0 20px 0 ;
    }
}